
* {
	box-sizing: border-box; 
}

body {
    
    background-image: url("../glittery.jpg");
    background-size:cover;
    background-position:center; 
}

.intro {
    text-align: center;
    font-family: "Lucida Console", "Courier", monospace;
    font-size: 20px;
    margin-left: 80px;
    margin-right: 80px;
   padding: 0.5%;
    background-color: rgb(249, 235, 247);
    outline: 5px solid pink;
    
    border: 5px solid rgb(230, 185, 214);
}


.logo {
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    
}


.flex-container1 {
    flex-direction: row;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    
}

.flex-container2 {
    flex-direction: row;
   margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    
    
}

.description {
    padding: 1.5%;
    font-family: "Lucida Console", "Courier", monospace;
    background-color: rgb(249, 235, 247);
    outline: 8px solid pink;
    border: 8px solid rgb(230, 185, 214);
    margin-right: 30px;
    flex: 1;
    color: black;
    
    text-align: center;
}

.links {
    padding: 1.5%;
    font-family: "Lucida Console", "Courier", monospace;
    background-color: rgb(249, 235, 247);
    outline: 8px solid pink;
    border: 8px solid rgb(230, 185, 214);
    
    flex: 1;
    color: black;
    margin: 50px;
    text-align: center;
}


.equalHW {
    flex:1;
}

.flex-container1 > div {

    padding: 1%;
    font-family: "Lucida Console", "Courier", monospace;
    background-color: rgb(249, 235, 247);
    outline: 8px solid pink;
    margin: 35px;
    border: 8px solid rgb(230, 185, 214);
    flex: 1;
    color: black;
   
    text-align: center;
    
}


.selfie {

    max-width: 30%;
}



.bullets {
    max-width: 300px;
    margin: 10px;
    filter: drop-shadow(1.5px 1.5px rgb(249, 235, 247));
    border: 2px solid black;
}

.buttons {
    max-width: 120px;

}


.corn1 {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 8%;
    -webkit-animation: mover 0.6s infinite  alternate;
    animation: mover 0.6s infinite  alternate;
}

.corn2 {
    position: absolute;
    top: 10px;
    right: 10px;
    max-width: 8%;
    -webkit-animation: mover 0.4s infinite  alternate;
    animation: mover 0.4s infinite  alternate;
}


@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

.sign {
    text-align: right;
    margin-right: 10px;
    font-size: 12px;
}